<a href="https://colab.research.google.com/github/Nattakonjpg/bsc_dpbm22/blob/main/%5Bdata3%5D_%E0%B8%81%E0%B8%A3%E0%B8%A1%E0%B8%AD%E0%B8%B8%E0%B8%95%E0%B8%B8_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
import pandas as pd

จังหวัดขอนแก่น
- ดึงแต่ละเป็นที่เป็นของจังหวัดขอนแก่นมาก่อนเพื่อดูว่าสามารถทำอะไรได้บ้าง
- วนลูป ให้ปริ๊นแต่ละค่ามาดูก่อน แล้วค่อยใส่คอลัมน์

##ความเร็ว

###ความเร็วลม

In [22]:
kkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความเร็วลม/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
snkpn = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความเร็วลม/Copy of จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
sl = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความเร็วลม/Copy of จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)
ssk = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความเร็วลม/Copy of จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3)
snk = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความเร็วลม/Copy of จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)

In [23]:
kkc.columns

Index(['ที่', 'สถานี', 'เดือน/ปี', 'วันที่', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'เฉลี่ย'],
      dtype='object')

In [24]:
kkc = kkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
kkc = kkc.iloc[1:]
snkpn = snkpn.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
snkpn = snkpn.iloc[1:]
sl = sl.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
sl = sl.iloc[1:]
ssk = ssk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
ssk = ssk.iloc[1:]
snk = snk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
snk = snk.iloc[1:]

###Concat df

In [25]:
Speed = pd.concat([kkc,snkpn,snkpn,sl,snk])
Speed.shape

(275, 35)

### ดึงเดือน กับ ปี แยกคอลัมน์

In [26]:
Speed['เดือน'] = Speed['เดือน/ปี'].dt.month
Speed['ปี'] = Speed['เดือน/ปี'].dt.year
Speed.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,3.0,2.0,3.0,2.0,2.0,3.0,4.0,...,5.0,5.0,5.0,4.0,6.0,4.0,5.0,3.354839,10,2011
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,4.0,5.0,3.0,3.0,5.0,2.0,3.0,...,5.0,5.0,3.0,1.0,3.0,3.0,-,3.466667,11,2011
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,3.0,4.0,4.0,4.0,4.0,4.0,4.0,...,7.0,6.0,5.0,4.0,4.0,6.0,5.0,4.806452,12,2011
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,4.0,2.0,1.0,4.0,4.0,2.0,4.0,...,4.0,2.0,2.0,1.0,3.0,4.0,4.0,3.129032,1,2012
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2.0,2.0,3.0,2.0,3.0,1.0,2.0,...,3.0,2.0,4.0,3.0,3.0,3.0,-,2.566667,2,2012

In [27]:
#Speed = Speed.sort_values(by='เดือน', ascending=True)

In [28]:
#Speed.sort_values(by='ปี', ascending=True)

In [29]:
Speed = Speed[['ที่', 'สถานี', 'เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'เดือน', 'ปี','เฉลี่ย']]

### ทดลอง 1 จังหวัด

In [31]:
skkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความเร็วลม/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)

In [32]:
skkc = skkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
skkc = skkc.iloc[1:]

In [71]:
skkc['เดือน'] = skkc['เดือน/ปี'].dt.month
skkc['ปี'] = skkc['เดือน/ปี'].dt.year
skkc.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เดือน,ปี,เฉลี่ย
1,1,353301-เลย สกษ. จ.เลย,2011-10-01,3.0,2.0,3.0,2.0,2.0,3.0,4.0,...,5.0,5.0,5.0,4.0,6.0,4.0,5.0,10,2011,3.354839
2,2,353301-เลย สกษ. จ.เลย,2011-11-01,4.0,5.0,3.0,3.0,5.0,2.0,3.0,...,5.0,5.0,3.0,1.0,3.0,3.0,-,11,2011,3.466667
3,3,353301-เลย สกษ. จ.เลย,2011-12-01,3.0,4.0,4.0,4.0,4.0,4.0,4.0,...,7.0,6.0,5.0,4.0,4.0,6.0,5.0,12,2011,4.806452
4,1,353301-เลย สกษ. จ.เลย,2012-01-01,4.0,2.0,1.0,4.0,4.0,2.0,4.0,...,4.0,2.0,2.0,1.0,3.0,4.0,4.0,1,2012,3.129032
5,2,353301-เลย สกษ. จ.เลย,2012-02-01,2.0,2.0,3.0,2.0,3.0,1.0,2.0,...,3.0,2.0,4.0,3.0,3.0,3.0,-,2,2012,2.566667

In [34]:
skkc = skkc[['ที่', 'สถานี', 'เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'เดือน', 'ปี','เฉลี่ย']] #ให้ columns เฉลี่ยไปอยู่สุดท้าย

In [51]:
skkc1 =skkc.iloc[0:,3:34]
skkc2 = skkc.iloc[0:,3:36]

In [81]:
skkc2.head()

,1,2,3,4,5,6,7,8,9,10,...,24,25,26,27,28,29,30,31,เดือน,ปี
1,3.0,2.0,3.0,2.0,2.0,3.0,4.0,3.0,4.0,3.0,...,3.0,5.0,5.0,5.0,4.0,6.0,4.0,5.0,10,2011
2,4.0,5.0,3.0,3.0,5.0,2.0,3.0,3.0,2.0,3.0,...,6.0,5.0,5.0,3.0,1.0,3.0,3.0,-,11,2011
3,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,6.0,...,6.0,7.0,6.0,5.0,4.0,4.0,6.0,5.0,12,2011
4,4.0,2.0,1.0,4.0,4.0,2.0,4.0,6.0,5.0,5.0,...,3.0,4.0,2.0,2.0,1.0,3.0,4.0,4.0,1,2012
5,2.0,2.0,3.0,2.0,3.0,1.0,2.0,3.0,4.0,1.0,...,2.0,3.0,2.0,4.0,3.0,3.0,3.0,-,2,2012

In [ ]:
skkcl = list()
for index, row in skkc2.iterrows():
  for i in range(1,32): # เริ่มที่ 1 - 32
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม -> ',row[i-1]) # [i-1] = -1 เพราะให้เริ่ม 0,31 แทน ในตอนดึงตอลัมน์
    #print(row[i-1])
    skkcl.append(row[i-1])

In [93]:
Speed =Speed.reset_index()
Speed['ที่'] = Speed['index']
del Speed['index']

In [112]:
S1 = Speed.iloc[0:,3:34]
S2 = Speed.iloc[0:,3:36]

In [130]:
Sl = list()
for index, row in S2.iterrows():
  for i in range(0,31): # เริ่มที่ 1 - 32
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความเร็วลม -> ',row[i-1]) # [i-1] = -1 เพราะให้เริ่ม 0,31 แทน ในตอนดึงตอลัมน์
    Sl.append(row[i])
    #print(row[i])

In [135]:
SI # list ที่เก็บข้อมูลความเร็วของทุกจังหวัดแล้ว

8525

##ความกด(เปอร์เซ็นต์)

In [37]:
pkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความกด(เปอร์เซ็น)/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
pnkp = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความกด(เปอร์เซ็น)/Copy of จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
psk  = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความกด(เปอร์เซ็น)/Copy of จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3)
pnk  = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความกด(เปอร์เซ็น)/Copy of จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
pl  = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความกด(เปอร์เซ็น)/Copy of จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)

In [38]:
pkkc = pkkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
pkkc = pkkc.iloc[1:]
pnkp = pnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
pnkp = pnkp.iloc[1:]
psk = psk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
psk = psk.iloc[1:]
pnk = pnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
pnk = pnk.iloc[1:]
pl = pl.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
pl = pl.iloc[1:]

###Concat df

In [39]:
Pre = pd.concat([pkkc, pnkp, psk, pnk, pl])
Pre.shape

(275, 35)

### ดึงเดือน กับ ปี แยกคอลัมน์

In [40]:
Pre['เดือน'] = Pre['เดือน/ปี'].dt.month
Pre['ปี'] = Pre['เดือน/ปี'].dt.year
Pre.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645,10,2011
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000,11,2011
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000,12,2011
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516,1,2012
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667,2,2012

In [41]:
Pre = Pre[['ที่', 'สถานี', 'เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'เดือน', 'ปี','เฉลี่ย']]

###ทดลอง 1 จังหวัด

In [42]:
pkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความกด(เปอร์เซ็น)/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
pkkc = pkkc.iloc[1:]
pkkc['เดือน'] = pkkc['เดือน/ปี'].dt.month
pkkc['ปี'] = pkkc['เดือน/ปี'].dt.year
pkkc.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,25,26,27,28,29,30,31,เฉลี่ย,เดือน,ปี
1,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645,10,2011
2,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000,11,2011
3,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000,12,2011
4,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516,1,2012
5,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.80,1008.16,...,1004.80,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667,2,2012

In [43]:
pkkc1 = pkkc.iloc[0:,3:34]
pkkc2 = pkkc.iloc[0:,3:37]

In [44]:
for index, row in pkkc2.iterrows():
  for i in range(1,32):
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความกด -> ',row[i-1])

SyntaxError: ignored

##อุณหภูมิตุ้ม

In [ ]:
tkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดตุ้มแห้ง/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
tnkp = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดตุ้มแห้ง/Copy of จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
tsk = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดตุ้มแห้ง/Copy of จ.สกล.xlsx',sheet_name='Sheet1',skiprows=3)
tnk = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดตุ้มแห้ง/Copy of จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
tl = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดตุ้มแห้ง/Copy of จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)

In [ ]:
tkkc = tkkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tkkc = tkkc.iloc[1:]
tnkp = tnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tnkp = tnkp.iloc[1:]
tsk = tsk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tsk = tsk.iloc[1:]
tnk = tnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tnk = tnk.iloc[1:]
tl = tl.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tl = tl.iloc[1:]

###Concat df

In [ ]:
tt = pd.concat([tkkc,tnkp,tsk,tnk,tl])
tt.shape

### ดึงเดือน กับ ปี แยกคอลัมน์

In [ ]:
tt['เดือน'] = tt['เดือน/ปี'].dt.month
tt['ปี'] = tt['เดือน/ปี'].dt.year
tt.head()

In [ ]:
tt = tt[['ที่', 'สถานี', 'เดือน/ปี', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       'เดือน', 'ปี','เฉลี่ย']]

###ทดลอง 1 จังหวัด

In [ ]:
tkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดตุ้มแห้ง/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tkkc = tkkc.iloc[1:]
tkkc['เดือน'] = tkkc['เดือน/ปี'].dt.month
tkkc['ปี'] = tkkc['เดือน/ปี'].dt.year
tkkc1 = tkkc.iloc[0:,3:34]
tkkc2 = tkkc.iloc[0:,3:37]
for index, row in tkkc2.iterrows():
  for i in range(1,32):
   #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิตุ้ม -> ',row[i-1],'องศาเซลเซียส')

##อุณหภูมิจุดน้ำค้าง

In [ ]:
twkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดน้ำค้าง/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3)
twnkp = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดน้ำค้าง/Copy of จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3)
twsk = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดน้ำค้าง/Copy of จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3)
twnk = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดน้ำค้าง/Copy of จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3)
twl = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดน้ำค้าง/Copy of จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3)

In [ ]:
twkkc = twkkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
twkkc = twkkc.iloc[1:]
twnkp = twnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
twnkp = twnkp.iloc[1:]
twsk = twsk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
twsk = twsk.iloc[1:]
twnk = twnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
twnk = twnk.iloc[1:]
twl = twl.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
twl = twl.iloc[1:]

###Concat df

In [ ]:
tw =  pd.concat([twkkc,twnkp,twsk,twnk,twl])
tw.shape

### ดึงเดือน กับ ปี แยกคอลัมน์

In [ ]:
tw['เดือน'] = tw['เดือน/ปี'].dt.month
tw['ปี'] = tw['เดือน/ปี'].dt.year
tw.head()

###ทดลอง 1 จังหวัด

In [ ]:
twkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดน้ำค้าง/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
twkkc = twkkc.iloc[1:]
twkkc['เดือน'] = twkkc['เดือน/ปี'].dt.month
twkkc['ปี'] = twkkc['เดือน/ปี'].dt.year
twkkc1 = twkkc.iloc[0:,3:34]
twkkc2 = twkkc.iloc[0:,3:37]
for index, row in twkkc2.iterrows():
  for i in range(1,32):
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิจุดน้ำค้าง -> ',row[i-1],'องศาเซลเซียส')

##อุณหภูมิจุดต่ำสุด

In [ ]:
tlkkc = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดต่ำสุด/Copy of จ.ขอนแก่น.xlsx",sheet_name='Sheet1',skiprows=3)
tlnkp = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดต่ำสุด/Copy of จ.นครพนม.xlsx",sheet_name='Sheet1',skiprows=3)
tlsk = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดต่ำสุด/Copy of จ.สกล.xlsx",sheet_name='Sheet1',skiprows=3)
tlnk = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดต่ำสุด/Copy of จ.หนองคาย.xlsx",sheet_name='Sheet1',skiprows=3)
tll = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดต่ำสุด/Copy of จ.เลย.xlsx",sheet_name='Sheet1',skiprows=3)

In [ ]:
tlkkc = tlkkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tlkkc = tlkkc.iloc[1:]
tlnkp = tlnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tlnkp = tlnkp.iloc[1:]
tlsk = tlsk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tlsk = tlsk.iloc[1:]
tlnk = tlnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tlnk = tlnk.iloc[1:]
tll = tll.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tll = tll.iloc[1:]

###Concat df

In [ ]:
tl =  pd.concat([tlkkc,tlnkp,tlsk,tlnk,tll])
tl.shape

### ดึงเดือน กับ ปี แยกคอลัมน์

In [ ]:
tl['เดือน'] = tl['เดือน/ปี'].dt.month
tl['ปี'] = tl['เดือน/ปี'].dt.year
tl.head()

###ทดลอง 1 จังหวัด

In [ ]:
tlkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/อุณหภูมิจุดต่ำสุด/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
tlkkc = tlkkc.iloc[1:]
tlkkc['เดือน'] = tlkkc['เดือน/ปี'].dt.month
tlkkc['ปี'] = tlkkc['เดือน/ปี'].dt.year
tlkkc1 = tlkkc.iloc[0:,3:34]
tlkkc2 = tlkkc.iloc[0:,3:37]
for index, row in tlkkc2.iterrows():
  for i in range(1,32):
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'อุณหภูมิจุดต่ำสุด -> ',row[i-1],'องศาเซลเซียส')

##ความชื้น

In [ ]:
mkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความชื้นสัมพันธ์(เปอร์เซ็น)/Copy of จ.ขอนแก่น.xlsx',sheet_name="Sheet1",skiprows=3)
mnkp = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความชื้นสัมพันธ์(เปอร์เซ็น)/Copy of จ.นครพนม.xlsx',sheet_name="Sheet1",skiprows=3)
msk = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความชื้นสัมพันธ์(เปอร์เซ็น)/Copy of จ.สกลนคร.xlsx',sheet_name="Sheet1",skiprows=3)
mnk = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความชื้นสัมพันธ์(เปอร์เซ็น)/Copy of จ.หนองคาย.xlsx',sheet_name="Sheet1",skiprows=3)
ml = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความชื้นสัมพันธ์(เปอร์เซ็น)/Copy of จ.เลย.xlsx',sheet_name="Sheet1",skiprows=3)

In [ ]:
mkkc = mkkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
mkkc = mkkc.iloc[1:]
mnkp = mnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
mnkp = mnkp.iloc[1:]
msk = msk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
msk = msk.iloc[1:]
mnk = mnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
mnk = mnk.iloc[1:]
ml = ml.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
ml = ml.iloc[1:]

###Concat df

In [ ]:
m =  pd.concat([mkkc,mnkp,msk,mnk,ml])
m.shape

###ดึงเดือน กับ ปี แยกคอลัมน์

In [ ]:
m['เดือน'] = m['เดือน/ปี'].dt.month
m['ปี'] = m['เดือน/ปี'].dt.year
m.head()

###ทดลอง 1 จังหวัด

In [ ]:
mkkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ความชื้นสัมพันธ์(เปอร์เซ็น)/Copy of จ.ขอนแก่น.xlsx',sheet_name="Sheet1",skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
mkkc = mkkc.iloc[1:]
mkkc['เดือน'] = mkkc['เดือน/ปี'].dt.month
mkkc['ปี'] = mkkc['เดือน/ปี'].dt.year
mkkc1 = mkkc.iloc[0:,3:34]
mkkc2 = mkkc.iloc[0:,3:37]
for index, row in mkkc2.iterrows():
  for i in range(1,32):
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ความชื้นสัมพัทธ์ -> ',row[i-1],'%')

##ปริมาณฝน

In [ ]:
vrkkc = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณฝน(มิลลิลิตร)/Copy of จ.ขอนแก่น.xlsx",sheet_name='Sheet1',skiprows=3)
vrnkp = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณฝน(มิลลิลิตร)/Copy of จ.นครพนม.xlsx",sheet_name='Sheet1',skiprows=3)
vrsk = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณฝน(มิลลิลิตร)/Copy of จ.สกล.xlsx",sheet_name='Sheet1',skiprows=3)
vrnk = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณฝน(มิลลิลิตร)/Copy of จ.หนองคาย.xlsx",sheet_name='Sheet1',skiprows=3)
vrl = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณฝน(มิลลิลิตร)/Copy of จ.เลย.xlsx",sheet_name='Sheet1',skiprows=3)

In [ ]:
vrkkc = vrkkc.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
vrkkc = vrkkc.iloc[1:]
vrnkp = vrnkp.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
vrnkp = vrnkp.iloc[1:]
vrsk = vrsk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
vrsk = vrsk.iloc[1:]
vrnk = vrnk.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
vrnk = vrnk.iloc[1:]
vrl = vrl.rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
vrl = vrl.iloc[1:]

###Concat df

In [ ]:
vr =  pd.concat([vrkkc,vrnkp,vrsk,vrnk,vrl])
vr.shape

###ดึงเดือน กับ ปี แยกคอลัมน์

In [ ]:
vr['เดือน'] = vr['เดือน/ปี'].dt.month
vr['ปี'] = vr['เดือน/ปี'].dt.year
vr.head()

###ทดลอง 1 จังหวัด

In [ ]:
vrkkc = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณฝน(มิลลิลิตร)/Copy of จ.ขอนแก่น.xlsx",sheet_name='Sheet1',skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
vrkkc = vrkkc.iloc[1:]
vrkkc['เดือน'] = vrkkc['เดือน/ปี'].dt.month
vrkkc['ปี'] = vrkkc['เดือน/ปี'].dt.year
vrkkc1 = vrkkc.iloc[0:,3:34]
vrkkc2 = vrkkc.iloc[0:,3:37]
for index, row in vrkkc2.iterrows():
  for i in range(1,32):
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ปริมาณน้ำฝน -> ',row[i-1],'มิลลิลิตร')

##ปริมาณเมฆ 
- ติดตรงจังหวัดเลย

In [ ]:
# ckkc = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณเมฆ(10ส่วน)/Copy of จ.ขอนแก่น.xlsx",sheet_name='Sheet1',skiprows=3)
# cnkp = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณเมฆ(10ส่วน)/Copy of จ.นครพนม.xlsx",sheet_name='Sheet1',skiprows=3)
# csk = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณเมฆ(10ส่วน)/Copy of จ.สกลนคร.xlsx",sheet_name='Sheet1',skiprows=3)
# cnk = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณเมฆ(10ส่วน)/Copy of จ.หนองคาย.xlsx",sheet_name='Sheet1',skiprows=3)
# cl = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณเมฆ(10ส่วน)/Copy of จ.เลย.xlsx",sheet_name='Sheet1',skiprows=3)

In [ ]:
ckkc = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณเมฆ(10ส่วน)/Copy of จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'}).drop(0, axis=0)
cnkp = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณเมฆ(10ส่วน)/Copy of จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'}).drop(0, axis=0)
csk = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณเมฆ(10ส่วน)/Copy of จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'}).drop(0, axis=0)
cnk = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณเมฆ(10ส่วน)/Copy of จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'}).drop(0, axis=0)
cl = pd.read_excel('/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณเมฆ(10ส่วน)/Copy of จ.เลย.xlsx',sheet_name='Sheet1',skiprows=3).rename(columns={'Unnamed: 0' : 'ที่', 'Unnamed: 1' : 'สถานี', 'Unnamed: 2' : 'เดือน/ปี', 'Unnamed: 34' : 'เฉลี่ย'}).drop(0, axis=0)

In [ ]:
cl

###Concat df

In [ ]:
c = pd.concat([ckkc,cnkp,csk,cnk,cl])
c.shape

In [ ]:
c

###ดึงเดือน กับ ปี แยกคอลัมน์

In [ ]:
c['เดือน'] = c['เดือน/ปี'].dt.month
c['ปี'] = c['เดือน/ปี'].dt.year
c.head()

###ทดลอง 1 จังหวัด

In [ ]:
ckkc = pd.read_excel("/content/drive/MyDrive/datamining/กรมอุตุ/ปริมาณเมฆ(10ส่วน)/Copy of จ.ขอนแก่น.xlsx",sheet_name='Sheet1',skiprows=3).rename(columns={ 'วันที่':'1','Unnamed: 4':'2', 'Unnamed: 5':'3',
       'Unnamed: 6':'4', 'Unnamed: 7':'5', 'Unnamed: 8':'6', 'Unnamed: 9':'7', 'Unnamed: 10':'8',
       'Unnamed: 11':'9', 'Unnamed: 12':'10', 'Unnamed: 13':'11', 'Unnamed: 14':'12',
       'Unnamed: 15':'13', 'Unnamed: 16':'14', 'Unnamed: 17':'15', 'Unnamed: 18':"16",
       'Unnamed: 19':'17', 'Unnamed: 20':'18', 'Unnamed: 21':'19', 'Unnamed: 22':'20',
       'Unnamed: 23':'21', 'Unnamed: 24':'22', 'Unnamed: 25':'23', 'Unnamed: 26':'24',
       'Unnamed: 27':'25', 'Unnamed: 28':'26', 'Unnamed: 29':'27', 'Unnamed: 30':'28',
       'Unnamed: 31':'29', 'Unnamed: 32':'30', 'Unnamed: 33':'31'})
ckkc = ckkc.iloc[1:]
ckkc['เดือน'] = ckkc['เดือน/ปี'].dt.month
ckkc['ปี'] = ckkc['เดือน/ปี'].dt.year
ckkc1 = ckkc.iloc[0:,3:34]
ckkc2 = ckkc.iloc[0:,3:37]
for index, row in ckkc2.iterrows():
  for i in range(1,32):
    #print(f'วันที่ ',i,'เดือนที่ ',row['เดือน'],' ปีที่ ', row['ปี'],'ปริมาณเมฆ -> ',row[i-1],'ส่วน')