<a href="https://colab.research.google.com/github/Nattakonjpg/bsc_dpbm22/blob/main/Performance_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets
iris_data = datasets.load_iris()

In [2]:
X = iris_data['data']
Y = iris_data['target']

###Decision Tree

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

# Create a decision tree classifier
tree = DecisionTreeClassifier()

# Perform 10-fold cross-validation
kfold = KFold(n_splits=10, shuffle=True, random_state=42)
scores = cross_val_score(tree, X, Y, cv=kfold)

# Print the average accuracy and standard deviation across the 10 folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.10)

### Leav one out

In [10]:
from sklearn.model_selection import cross_val_score, LeaveOneOut
# Create a decision tree classifier

# Define Loo
Loo = LeaveOneOut()
scores = cross_val_score(tree, X, Y, cv=Loo)

# Print the average accuracy and standard deviation across the 10 folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
#Acc 0.95(+/- 42%)

Accuracy: 0.95 (+/- 0.42)

### Dataframe Iris

In [38]:
import pandas as pd

In [39]:
columns = iris_data['feature_names']
iris_df = pd.DataFrame(X, columns=columns)
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [40]:
iris_df['Lable'] =Y

In [41]:
shuffle_iris = iris_df.sample(frac=1)
shuffle_iris .head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Lable
102,7.1,3.0,5.9,2.1,2
14,5.8,4.0,1.2,0.2,0
40,5.0,3.5,1.3,0.3,0
8,4.4,2.9,1.4,0.2,0
83,6.0,2.7,5.1,1.6,1

In [42]:
shuffle_iris['fold']=15*[1,2,3,4,5,6,7,8,9,10]

In [44]:
shuffle_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Lable,fold
102,7.1,3.0,5.9,2.1,2,1
14,5.8,4.0,1.2,0.2,0,2
40,5.0,3.5,1.3,0.3,0,3
8,4.4,2.9,1.4,0.2,0,4
83,6.0,2.7,5.1,1.6,1,5

#HW6 วนลูปทำ 10--fold cross validation