<a href="https://colab.research.google.com/github/Nattakonjpg/bsc_dpbm22/blob/main/Performance_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn import datasets
iris_data = datasets.load_iris()

In [ ]:
X = iris_data['data']
Y = iris_data['target']

###Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

# Create a decision tree classifier
tree = DecisionTreeClassifier()

# Perform 10-fold cross-validation
kfold = KFold(n_splits=10, shuffle=True, random_state=42)
scores = cross_val_score(tree, X, Y, cv=kfold)

# Print the average accuracy and standard deviation across the 10 folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.12)

### Leav one out

In [ ]:
from sklearn.model_selection import cross_val_score, LeaveOneOut
# Create a decision tree classifier

# Define Loo
Loo = LeaveOneOut()
scores = cross_val_score(tree, X, Y, cv=Loo)

# Print the average accuracy and standard deviation across the 10 folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
#Acc 0.95(+/- 42%)

Accuracy: 0.95 (+/- 0.42)

### Dataframe Iris

In [ ]:
import pandas as pd

In [ ]:
columns = iris_data['feature_names']
iris_df = pd.DataFrame(X, columns=columns)
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
iris_df['Lable'] =Y

In [ ]:
shuffle_iris = iris_df.sample(frac=1, random_state=6)
shuffle_iris .head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Lable
4,5.0,3.6,1.4,0.2,0
116,6.5,3.0,5.5,1.8,2
2,4.7,3.2,1.3,0.2,0
23,5.1,3.3,1.7,0.5,0
123,6.3,2.7,4.9,1.8,2

In [ ]:
shuffle_iris['fold']=15*[1,2,3,4,5,6,7,8,9,10]

In [ ]:
shuffle_iris.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Lable,fold
4,5.0,3.6,1.4,0.2,0,1
116,6.5,3.0,5.5,1.8,2,2
2,4.7,3.2,1.3,0.2,0,3
23,5.1,3.3,1.7,0.5,0,4
123,6.3,2.7,4.9,1.8,2,5
96,5.7,2.9,4.2,1.3,1,6
134,6.1,2.6,5.6,1.4,2,7
39,5.1,3.4,1.5,0.2,0,8
137,6.4,3.1,5.5,1.8,2,9
53,5.5,2.3,4.0,1.3,1,10

#HW6 วนลูปทำ 10--fold cross validation

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold
from sklearn.linear_model import LogisticRegression
import numpy as np

###แบ่งตาราง 2 ตาราง Fold = 1, 2-10

In [ ]:
iris_table1 = shuffle_iris[shuffle_iris['fold']==1]
iris_table1.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Lable,fold
4,5.0,3.6,1.4,0.2,0,1
127,6.1,3.0,4.9,1.8,2,1
37,4.9,3.6,1.4,0.1,0,1
45,4.8,3.0,1.4,0.3,0,1
17,5.1,3.5,1.4,0.3,0,1

In [ ]:
iris_table2 = shuffle_iris[shuffle_iris['fold'] > 1]
iris_table2.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Lable,fold
116,6.5,3.0,5.5,1.8,2,2
2,4.7,3.2,1.3,0.2,0,3
23,5.1,3.3,1.7,0.5,0,4
123,6.3,2.7,4.9,1.8,2,5
96,5.7,2.9,4.2,1.3,1,6

### For loop Validation

In [ ]:
x = iris_table2.drop(['Lable','fold'], axis=1) #Pure data to validation
y = iris_table2['Lable']

In [ ]:
kf = KFold(n_splits=9, shuffle=True, random_state=6)

###Test

In [ ]:
# Create a Decision Tree classifier object
dt = DecisionTreeClassifier(random_state=6)

# Create a 10-fold cross-validation object
kf = KFold(n_splits=10, shuffle=True, random_state=6)

# Perform 10-fold cross-validation
scores = cross_val_score(dt, x, y, cv=kf)

[0.92857143 1.         1.         0.85714286 0.92857143 0.84615385
 0.92307692 1.         1.         1.        ]

### Loop 10-fold Validation

In [ ]:
# Loop through the 10 folds
for fold, (train_index, test_index) in enumerate(kf.split(x)):
    print(f"Fold {fold + 1}")
    
    # Get the training and test sets for this fold
    X_train, y_train = x.iloc[train_index], y.iloc[train_index]
    X_test, y_test = x.iloc[test_index], y.iloc[test_index]
    
    # Train the model on the training set
    tree.fit(X_train, y_train)
    
    # Evaluate the model on the test set
    score = tree.score(X_test, y_test)
    print(f"Accuracy: {score}")
    
    # Get the cross-validation score for this fold
    cv_score = cross_val_score(tree, X_train, y_train, cv=kf).mean()
    print(f"Cross-validation score: {cv_score}")

Fold 1
Accuracy: 0.9285714285714286
Cross-validation score: 0.9583333333333333
Fold 2
Accuracy: 1.0
Cross-validation score: 0.95
Fold 3
Accuracy: 1.0
Cross-validation score: 0.9583333333333333
Fold 4
Accuracy: 0.8571428571428571
Cross-validation score: 0.9749999999999999
Fold 5
Accuracy: 0.9285714285714286
Cross-validation score: 0.9583333333333333
Fold 6
Accuracy: 0.8461538461538461
Cross-validation score: 0.9589743589743589
Fold 7
Accuracy: 0.9230769230769231
Cross-validation score: 0.9666666666666666
Fold 8
Accuracy: 1.0
Cross-validation score: 0.9512820512820512
Fold 9
Accuracy: 1.0
Cross-validation score: 0.9583333333333333
Fold 10
Accuracy: 1.0
Cross-validation score: 0.95